@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#outlinetext{
  background: -webkit-linear-gradient(-45deg, #16C79E, #C5DA45);
  background-clip: padding-box;
  padding: 12px;
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;  
  font-weight: 900;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.02em;
}

#flip{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#underlineGradient{
  height: 1px;
  background: linear-gradient(90deg, #16C79E 2.29%, #C5DA45 98.62%);
  border-radius: 50px;
}